/*#region RESET/BASE */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #ffffff;
  font-family: monospace;
  margin: 0;
}
/* #endregion */

/* #region MODE SPECIFIC */
body.dark{
  background-color: #2d2b2b;
  color: #39a733;
}
body.dark .snippet{
  background-color: #393939;
  color: #ffffff;
}
/* #endregion */

/* #region LAYOUT */
header{
  position: sticky;
  top:0;
  z-index: 100;
   box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  padding: 20px 0 20px 0;
  background-color: #068DC2;
}

footer{
  position: sticky;
  bottom: 0;
}
/* #endregion */

/* #region TYPOGRAPHY */
h1{
  margin-left: 10%;
}
h2{
  font-size: 1.5rem;
  margin-left: 10%;
}
p{
  margin-left: 10%;
}
abbr{
  text-decoration: none;
}
/* #endregion */

/*#region NAVIGATION */
.main_menu{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  gap: 40px;
}

.main_menu a{
  text-decoration: none;
  color: #000000;
  font-family: monospace;
  font-size: 1.5rem;
  transition: color 0.2s ease;
}

.main_menu a:hover{
  color: #ffffff;
}
#toggle{
  background-color: #39a733;
}
/* #endregion */

/* #region COMPONENTS */

.container{
  margin: 0 auto 50px;
  display: flex;
  flex-direction: row;
  gap:25px;
  width: 80%;
  height: 400px;
}
.container div{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.container h3{
  text-align: center;
  margin-bottom: 0px;
}

.snippet{
  background-color: #d3d3d3;
  color: #000000;
  resize: none;
  border: none;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  flex:1;
}
.snippet:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

  .copy-btn{
    font-family: monospace;
    font-size: 1rem;
    width: 50%;
    height: 30px;
    margin: 10px auto;
    border-width: medium;
    background-color: white;
    transition: background-color 0.2s ease;
  }
  .copy-btn:hover{
    background-color: #C2062F;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  }

.pipin {
  position: fixed;
  left: 85%;
  margin-bottom: -5px;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
}
.pipin img{
  pointer-events: none;
  width: 150px;
}

/* #endregion */

/* #region MEDIA */

@media (max-width:768px){
.container{
flex-direction: column;
width:90%;

height: auto;
min-height:180px;
}
.container div{flex:none;}
.snippet{min-height:180px;}
.main_menu {
flex-direction: column;
gap: 5px;
}
.main_menu a{font-size: 0.5rem;}
.pipin {display:none}
header{padding:0;}
}

/* #endregion */