html {
  scroll-behavior: smooth;
}
body {
  background-color: #ffffff;
  font-family: monospace;
  margin: 0;
}

header{
  position: sticky;
  top:0;
  z-index: 100;
   box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  padding: 20px 0 20px 0;
  background-color: #068DC2;
}
h1{
  font-family: monospace;
  margin-left: 10%;
}
p{
  margin-left: 10%;
}
.main_menu{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  gap: 40px;
}

.main_menu a{
  text-decoration: none;
  color: #000000;
  font-family: monospace;
  font-size: 1.5rem;
  transition: color 0.2s ease;
}

.main_menu a:hover{
  color: #ffffff;
}

.container{
  margin: 0 auto 50px;
  display: flex;
  flex-direction: row;
  gap:25px;
  width: 80%;
  height: 400px;
  /*background-color: red;*/
}
.container div{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.container h3{
  text-align: center;
  margin-bottom: 0px;
}

.snippet{
  background-color: #d3d3d3;
  color: #000000;
  resize: none;
  border: none;
  border-radius: 8px;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  flex:1;
  padding: 0;
}
.snippet:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

  .copy-btn{
    font-family: monospace;
    font-size: 1rem;
    width: 50%;
    height: 30px;
    margin: 10px auto;
    border-width: medium;
    background-color: white;
    transition: background-color 0.2s ease;
  }
  .copy-btn:hover{
    background-color: #C2062F;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  }
footer{
  position: sticky;
  bottom: 0;
}
.pipin {
  position: fixed;
  left: 85%;
  margin-bottom: -5px;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
}
.pipin img{
  pointer-events: none;
  width: 150px;
}
